@mixin text-box-base($width: 100%) {
    padding: 20px;
    width: $width;
    background-color: $white;
    h3 {
        margin-bottom: $comp-margin-bottom;
        padding: 20px;
        text-align: center;
    }
    p {
        margin-bottom: $comp-margin-bottom;
        width: 100%;
    }
}

@mixin img-box-base($width: 100%) {
    width: $width;
    background-color: $white;
    img {
        width: 100%;
    }
}

@include mq('desktop-15') {
    .text-box.left, .img-box.left {
        margin-right:5px;
    }
    .text-box.right, .img-box.right {
        margin-left: 5px;
    }

    .text-box.center, .img-box.center {
        margin-left: 5px;
        margin-right: 5px;
    }

    .text-box.round, .img-box.round {
        border-radius: 5px;
    }

    .text-box.shadow, .img-box.shadow {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    }

    .box-1.last, .box-2.last, .box-3.last {
        margin-bottom: 30px;
    }

    .box-1 {
        @include flexbox($ff:row, $jc:space-evenly, $ai:'');
        width: 100%;
        .text-box {
            @include text-box-base($width: 100%);
        }
        .img-box {
            @include img-box-base($width: 100%);
        }
    }

    .box-2 {
        @include flexbox($ff:row, $jc:space-evenly, $ai:'');
        width: 100%;
        .text-box {
            @include text-box-base($width: 50%);
        }
        .img-box {
            @include img-box-base($width: 50%);
        }
    }

    .box-3 {
        @include flexbox($ff:row, $jc:space-evenly, $ai:'');
        width: 100%;
        .text-box {
            @include text-box-base($width: 33.332%);
        }
        .img-box {
            @include img-box-base($width: 33.332%);
        }
    }
}

@include mq('tablet') {
    .text-box.left, .img-box.left {
        margin-right:0;
    }
    .text-box.right, .img-box.right {
        margin-left: 0;
    }

    .text-box.center, .img-box.center {
        margin-left: 0;
        margin-right: 0;
    }

    .box-1, .box-2, .box-3 {
        @include flexbox($ff:column, $jc:space-evenly, $ai:'');
        width: 100%;
        .text-box {
            @include text-box-base($width: 100%);
            margin-bottom: 10px;
        }
        .img-box {
            @include img-box-base($width: 100%);
            margin-bottom: 10px;
        }
    }
}

