// HTML Tags
*::selection {
    background: $pink;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: $color-bg;
}

//.wrapper {
//    max-width: 100%;
//}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $blue;
}

img {
    display: block;
}

ul {
    padding: 0;
    list-style: none;
}

// font
.xxl { font-size: $font-xxl !important; }
.xl { font-size: $font-xl !important; }
.l { font-size: $font-l !important; }
.m { font-size: $font-m !important; }
.s { font-size: $font-s !important; }
.xs { font-size: $font-xs !important; }

.skelton {
    background-color: transparent !important;
    box-shadow: none !important;
}
