// font
.xxl { font-size: $font-xxl !important; }
.xl { font-size: $font-xl !important; }
.l { font-size: $font-l !important; }
.m { font-size: $font-m !important; }
.s { font-size: $font-s !important; }
.xs { font-size: $font-xs !important; }
