.icon-box {
    @include flexbox;
}

@mixin circle-icon($size: 60px) {
    border: 1px solid $color-primary;
    padding: 10px;
    border-radius: calc(#{$size} / 2);
    width: $size;
    height: $size;
    background: $color-primary;
    color: $white;
}

.circle-1x {
    @include circle-icon($size: 34px);
    padding: 7px;
}
.circle-2x {
    @include circle-icon($size: 60px);
}
.circle-3x {
    @include circle-icon($size: 80px);
}
