@include mq('desktop-15') {
    .section-body-column {
        @include flexbox($ff:column, $jc:center, $ai:center);
        margin-bottom: $comp-margin-bottom;
        background-color: $color-bg;
        h2 {
            margin-bottom: $comp-margin-bottom;
            padding: 50px;
            text-align: center;
        }
        &.narrow {
            margin-right: $section-narrow;
            margin-left: $section-narrow;
        }
    }
    .section-body-row {
        @include flexbox($ff:row, $jc:center, $ai:center);
        &.narrow {
            margin-right: $section-narrow;
            margin-left: $section-narrow;
        }
    }
}

@include mq('tablet') {
    .section-body-column {
        @include flexbox($ff:column, $jc:center, $ai:center);
        background-color: $color-bg;
        h2 {
            padding: 30px;
            text-align: center;
        }
        &.narrow {
            margin-right: calc(#{$section-narrow} / 3);
            margin-left: calc(#{$section-narrow} / 3);
        }
    }

    .section-body-row {
        @include flexbox($ff:row, $jc:center, $ai:center);
        &.narrow {
            margin-right: calc(#{$section-narrow} / 3);
            margin-left: calc(#{$section-narrow} / 3);
        }
    }
}
