<header style="position:fixed; top:0; width:100%">
    <div class="navbar">
        <a href="/" class="logo-link">
            <img class="logo-img" src="../images/favicon.svg" alt="website logo" />
        </a>
        <h1>HTML5 WEBPACK <a href="/" class="link">WORKS</a> | 404 not found</h1>
    </div>
</header>
