<div class="shutter dot-white" style="background-image:url('../images/title.jpg');">
    <h1>HTML5 WORKS</h1>
    <p>Powerd by webpack</p>
</div>


<header style="position:fixed; top:0; width:100%">
    <div class="navbar">
        <a href="/" class="logo-link">
            <img class="logo-img" src="../images/favicon.svg" alt="website logo" />
        </a>
        <h1>HTML5 WEBPACK <a href="/" class="link">WORKS</a></h1>
    </div>
</header>


<section>
    <div class="section-header narrow"
        style="background-image: url('../images/title.jpg'); ">
        <h2>Title 01</h2>
        <p>(.section-header)</p>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-2 .text-box .img-box)</h2>

        <div class="box-2">
            <div class="img-box">
                <img src="../images/title.jpg" />
            </div>
            <div class="text-box">
                <h3>text-box 01</h3>
                <p>Content Header with image</p>
            </div>
        </div>

        <div class="box-2">
            <div class="text-box">
                <h3>text-box 01</h3>
                <p>Content Header with image</p>
            </div>
            <div class="img-box">
                <img src="../images/title02.jpg" />
            </div>
        </div>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-3 .text-box .img-box)</h2>

        <div class="box-3">
            <div class="img-box">
                <img src="../images/title.jpg" />
            </div>
            <div class="text-box">
                <h3>text-box 01</h3>
                <p>Content Header with image</p>
            </div>
            <div class="text-box">
                <h3>text-box 02</h3>
                <p>Content Header with image</p>
            </div>
        </div>

        <div class="box-3">
            <div class="text-box">
                <h3>text-box 01</h3>
                <p>Content Header with image</p>
            </div>
            <div class="img-box">
                <img src="../images/title.jpg" />
            </div>
            <div class="text-box">
                <h3>text-box 02</h3>
                <p>Content Header with image</p>
            </div>
        </div>

        <div class="box-3">
            <div class="text-box">
                <h3>text-box 01</h3>
                <p>Content Header with image</p>
            </div>
            <div class="text-box">
                <h3>text-box 02</h3>
                <p>Content Header with image</p>
            </div>
            <div class="img-box">
                <img src="../images/title.jpg" />
            </div>
        </div>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-1 .img-box)</h2>

        <div class="box-1">
            <div class="img-box">
                <img src="../images/title.jpg" />
            </div>
        </div>
    </div>


    <div class="section-header400"
        style="background-image: url('../images/title02.jpg'); ">
        <h2>Title 02</h2>
        <p>(.section-header400)</p>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-3 .text-box)</h2>

        <div class="box-3">
            <div class="text-box left round shadow">
                <%- include('../partials/_icon', {
                    props: {size:1, icon:'fas fa-dog'}
                }); %>
                <h3>text-box 01</h3>
                <p>.round .shadow</p>
            </div>
            <div class="text-box center round shadow">
                <%- include('../partials/_icon', {
                    props: {size:2, icon:'fas fa-dog'}
                }); %>
                <h3>text-box 02</h3>
                <p>.round .shadow</p>
            </div>
            <div class="text-box right round shadow">
                <%- include('../partials/_icon', {
                    props: {size:3, icon:'fas fa-dog'}
                }); %>
                <h3>text-box 03</h3>
                <p>.round .shadow</p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="section-body-column narrow">
        <h2>Content Component (.box-2 .text-box)</h2>

        <div class="box-2">
            <div class="text-box left round">
                <h3>text-box 01</h3>
                <p>.round</p>
            </div>
            <div class="text-box right shadow">
                <h3>text-box 02</h3>
                <p>.shadow</p>
            </div>
        </div>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-1 .text-box)</h2>

        <div class="box-1">
            <div class="text-box">
                <h3>text-box 01</h3>
                <p>normal</p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="section-header600">
        <h2>Title 03</h2>
        <p>(.section-header600)</p>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-3 .text-box .skelton)</h2>
        <div class="box-3">
            <div class="text-box skelton">
                <h3>text-box 01</h3>
                <p>.skelton</p>
            </div>
            <div class="text-box skelton">
                <h3>text-box 02</h3>
                <p>.skelton</p>
            </div>
            <div class="text-box skelton">
                <h3>text-box 03</h3>
                <p>.skelton</p>
            </div>
        </div>
    </div>


    <div class="section-body-column narrow">
        <h2>Content Component (.box-2 .text-box .skelton)</h2>
        <div class="box-2">
            <div class="text-box skelton">
                <h3>text-box 01</h3>
                <p>.skelton</p>
            </div>
            <div class="text-box skelton">
                <h3>text-box 02</h3>
                <p>.skelton</p>
            </div>
        </div>
    </div>
</section>


<section>
<div class="section-body-column narrow">
    <h2>Content Component (.box-1 .text-box .skelton)</h2>
    <div class="box-1">
        <div class="text-box skelton">
            <h3>text-box 01</h3>
            <p>.skelton</p>
        </div>
    </div>
</div>
</section>



<div style="padding:20px; background-color:#000; color:#fff">
    Footer
</div>

