<%
    include('settings/_head_404.ejs');
    const siteMeta = siteMetaInfo();
%>

<!DOCTYPE html>
<html lang="<%= siteMeta.lang %>">
<head><%- include('partials/_head', {meta: siteMeta}) %></head>
<body>

<%- include('partials/_navbar.ejs') %>

</body>
</html>
