<%
    include('variables/_head_404.ejs');
    const siteMeta = siteMetaInfo();
%>

<!DOCTYPE html>
<html lang="<%= siteMeta.lang %>">
<head><%- include('partials/_head', {meta: siteMeta}) %></head>
<body>

<%- include('pages/_404') %>

</body>
</html>
