<%
    include('variables/_head_index.ejs');
    const siteMeta = siteMetaInfo();
%>

<!DOCTYPE html>
<html lang="<%= siteMeta.lang %>">
<head><%- include('partials/_head', {meta: siteMeta}) %></head>
<body>

<%# include('pages/_index') %>
<%- include('pages/_example') %>

</body>
</html>
