<% const meta = include('variables/common/_meta.ejs'); %>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/common/_head', {meta: meta}); %>
</head>

<body>
<header>
    <%- include('partials/header/_default'); %>
</header>
</body>
</html>
