<%
    include('variables/_head_index.ejs');
    const siteMeta = siteMetaInfo();
%>

<!DOCTYPE html>
<html lang="<%= siteMeta.lang %>">
<head><%- include('partials/_head', {meta: siteMeta}) %></head>
<body>

<%- include('pages/_index') %>
<%# include('pages/_example') %>
<div style="margin:300px">
    <i class="fas fa-dog fa-3x"></i>
    <i class="far fa-comments fa-3x"></i>
    <i class="fas fa-cat fa-3x fa-flip-horizontal"></i>
</div>
</body>
</html>
