<div class="wrapper">
    <div class="nav">
        <a href="https://github.com/tr1s/tris-webpack-boilerplate"
           class="logo-link"
           aria-label="ontheroad.jp webpack boilerplate github repository."
           ><img class="logo-img" src="../images/favicon.svg" alt="website logo" />
        </a>

        <h1> ontheroad.jp <span>webpack</span>
            <a href="https://github.com/tr1s/tris-webpack-boilerplate"
               class="link"
               aria-label="Tristan's webpack boilerplate github repository."
               >boilerplate
            </a>
        </h1>
    </div>
</div>
